.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-responsive {
  width: 70%;
}
.video-responsive iframe {
  width: 100%;
}

.text-content {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
}
