$primary-color: #000000;
$secondary-color: #fbfbf4;
$tertiary-color: #0236fd;

$model-background-color: #0236fd;

$gallery-image-margin: 15px;

$header-height: 75px;
$header-height-mobile: 50px;

$breakpoint-mobile: 500px;
$breakpoint-grid: 900px;
$breakpoint-modelLinks: 1300px;
