@import "../../utils/variables";

.galleryContainer {
  display: flex;
  justify-content: center;
}

.displayImage {
  position: fixed;
  top: calc(50% - 512px + 75px); // center = half the screen - half the image + half the header
  left: calc(50% - 512px);
  width: 1024px;
  height: 1024px;
  background-color: red;
  animation: animateDisplayImage 1s forwards;
  border: 1px solid $secondary-color;

  > button {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    background-color: $primary-color;

    color: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-size: 24px;
    font-weight: bolder;
    border-left: 1px solid $secondary-color;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $secondary-color;

    transition: font-size 0.1s ease;

    &:hover {
      font-size: 36px;
    }
  }

}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80%;
  margin-top: 30px;
  grid-gap: 15px;

}

.imageContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryDescription {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 35px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  word-break: break-word;

}

.galleryItem__0 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryItem__1 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.galleryItem__2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.galleryItem__3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

@keyframes animateDisplayImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}