@import "../../utils/variables";

.galleryContainer {
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(69,69,69,0.5);
}

.displayImage {
  position: fixed;
  top: calc(50% - 45vh); // center = half the screen - half the image + half the header
  left: calc(50% - 45vh);
  width: 90vh;
  height: 90vh;
  object-fit: cover;

  animation: animateDisplayImage 0.5s forwards;
  border: 1px solid $secondary-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > button {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    background-color: $primary-color;

    color: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-size: 24px;
    font-weight: bolder;
    border-left: 1px solid $secondary-color;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $secondary-color;

    transition: font-size 0.1s ease;

    &:hover {
      font-size: 36px;
    }
  }

}

.imagesContainer {
  @media screen and (min-width: $breakpoint-grid) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px;
  }
  width: 80%;
  margin-top: 30px;

}

.imageContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryDescription {
  background-color: $secondary-color;
  color: $primary-color;
  word-break: break-word;
  padding: 25px;

  @media screen and (min-width: $breakpoint-grid) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  @media screen and (max-width: $breakpoint-grid) {
    margin-bottom: 15px;
  }





}

.generateArtLink {
  color: $primary-color;
  background-color: $secondary-color;
  width: 100%;
  text-decoration: underline;
  font-size: 18px;
  display: block;
  margin-top: 3rem;
  font-weight: normal;
  transition: font-weight, letter-spacing 0.4s ease;
  letter-spacing: normal;
  padding: 0 5px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    font-weight: bolder;
    letter-spacing: 2px;
  }
}


.galleryItem {
  box-shadow: none;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 2px 31px 4px $secondary-color;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    pointer-events: none;
  }
}

.galleryItem__0 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryItem__1 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.galleryItem__2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.galleryItem__3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

@keyframes animateDisplayImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}