@import '../../utils/variables.scss';

.artgeneratorContainer {
    margin: auto;

    @media screen and (min-width: $breakpoint-mobile) {
        width: 512px;

    }
    @media screen and (max-width: $breakpoint-mobile) {
        width: 90%;
    }
}

.artgeneratorDropdownContainer {
    width: 100%;
    @media screen and (min-width: $breakpoint-mobile) {
        margin-top: 50px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
        margin-top: 15px;
    }
}

.artgeneratorDropdown {
    border: 3px solid $tertiary-color;
    width: 99%;
}

.artgeneratorDropdownControl {
    background-color: $primary-color;
    color: $tertiary-color;
    font-weight: bolder;
    border: none;
}
.artgeneratorDropdownTest {
    background-color: $primary-color;
    color: $tertiary-color;
    width: 100%;
    font-weight: bolder;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    border: 3px solid $tertiary-color;
    padding: 0.8rem;
    margin: 20px 0;

    position: relative;


}

.artgeneratorDropdownMenu {
    background-color: $secondary-color;
}

.artgeneratorDropdownArrow {
    border-color: $tertiary-color transparent transparent;
}

.artgeneratorImageContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $breakpoint-mobile) {
    }
    @media screen and (max-width: $breakpoint-mobile) {
        margin: 15px 0;
    }
}

.actionButtonsContainer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.actionButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $model-background-color;
    border: none;
    width: 48%;
    transition: transform 0.2s ease;

    p {
        font-size: 16px;
        font-family: 'Press Start 2P', cursive;
        color: $primary-color;
    }
    &:hover {
        transform: scale(1.1);
        p {
            color: $secondary-color;
        }
    }
}

.artgeneratorImage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 370px;

    img {
        max-width: 100%;
        height: auto;
    }
    @media screen and (min-width: $breakpoint-mobile) {
        margin: 50px auto;
        max-width: 512px;
        height: 512px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
    }
}
