@import '../../utils/variables.scss';

.modelsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90%;

}
.modelLinksContainer {
  height: 60%;
  width: 80%;


  display: flex;
  justify-content: center; // TODO: should be changed when we add more models
  align-items: center;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;

  -ms-overflow-style: none;  // IE and Edge
  scrollbar-width: none;  // Firefox


}
.modelLinksContainer::-webkit-scrollbar { display: none;}

.modelContainer {
  display: flex;
  align-items: center;

  max-width: 600px;
  height: 75px;
  padding: 24px;
  margin-left: 20px;

  font-size: 32px;
  font-family: 'Press Start 2P', cursive;

  background-color: $model-background-color;
  transform: scale(1);
  transition: transform 0.2s ease;

  &:hover{
    transform: scale(1.1);

    .modelLink{
      color: $secondary-color;
    }

    .modelLinkLine {
      &:after{
        content: '';
        position: absolute;
        display: block;
        top: 87px;
        left: 24px;
        width: -webkit-calc(100% - 48px);
        height: 3px;
        background: yellow;
        z-index: 1;
        transform-origin: left;
        transform: scaleX(0);
        animation: animateLinkLine 0.5s forwards;
      }
    }
  }
}

.modelLink {
  color: $primary-color;
  text-decoration: none;
}

.modelLinkLine {
  &:before {
    content: '';
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: 1;
  }
}

@keyframes animateLinkLine {
  0% {
    transform: translateX(0) scaleX(0);
    transform-origin: left;
    left: 24px;
    right: auto;
  }

  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: left;
    left: 24px;
    right: auto;
  }
}



