@import '../../utils/variables.scss';

.modelsContainer {

  @media screen and (min-width: $breakpoint-mobile) {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
  }

  @media screen and (max-width: $breakpoint-mobile) {
  }

}

.modelLinksContainer {

  @media screen and (min-width: $breakpoint-mobile) {
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint-modelLinks) {
      justify-content: center;
    }

    @media screen and (max-width: $breakpoint-modelLinks) {
      justify-content: flex-start;
    }
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    height: 60%;
    width: 80%;
  }


}

.modelLinksContainer::-webkit-scrollbar {
  display: none;
}

.modelContainer {
  font-family: 'Press Start 2P', cursive;

  background-color: $model-background-color;
  transform: scale(1);
  transition: transform 0.2s ease;

  @media screen and (min-width: $breakpoint-mobile) {

    height: 75px;
    max-width: 400px;
    min-width: 200px;
    padding: 24px;
    margin-left: 20px;

    font-size: 24px;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    width: 80vw;
    height: fit-content;
    padding: 15px;
    margin: 15px 15px 0 15px;

    font-size: 1rem;
  }

  &:hover {
    transform: scale(1.1);
    overflow: hidden;

    .modelLink {
      color: $secondary-color;
    }

    .modelLinkLine {
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 87px;
        left: 24px;
        width: 80%;
        height: 3px;
        background: $secondary-color;
        z-index: 1;
        transform-origin: left;
        transform: scaleX(0);
        animation: animateLinkLine 0.5s forwards;
      }
    }
  }
}

.modelLink {
  color: $primary-color;
  text-decoration: none;
  white-space: pre-wrap;
  word-wrap: break-word;

}

.modelLinkLine {
  &:before {
    content: '';
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: 1;
  }
}

@keyframes animateLinkLine {
  0% {
    transform: translateX(0) scaleX(0);
    transform-origin: left;
    left: 24px;
    right: auto;
  }

  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: left;
    left: 24px;
    right: auto;
  }
}



