.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.title {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: medium;
}

.currentModel {
    color: #ff6700;
}
